<a href="https://colab.research.google.com/github/christiancamposn/Manipulacion-y-Analisis-de-Datos-con-Pandas-y-Python-/blob/main/04_De_paneles_de_datos_al_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
pd.__version__

'1.3.5'

In [3]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [6]:
dict_data = {'CO':300, 'MX': 400, 'CH': 200}
dict_data

{'CH': 200, 'CO': 300, 'MX': 400}

In [7]:
pd.Series(dict_data)

CO    300
MX    400
CH    200
dtype: int64

In [9]:
dict_data = {'CH': [100, 800, 200], 'CO': [100, 200, 300], 'MX': [300, 500, 400]}
dict_data

{'CH': [100, 800, 200], 'CO': [100, 200, 300], 'MX': [300, 500, 400]}

In [11]:
df = pd.DataFrame(dict_data)
df

    CH   CO   MX
0  100  100  300
1  800  200  500
2  200  300  400

In [13]:
import numpy as np

In [15]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}
print(dict_data)
type(dict_data)

{'edad': [10, 9, 13, 14, 12, 11, 12], 'cm': [115, 110, 130, 155, 125, 120, 125], 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'], 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'], 'Q1': [5, 10, 8, nan, 7, 8, 3], 'Q2': [7, 9, 9, 8, 8, 8, 9]}

dict

In [17]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [19]:
df = pd.DataFrame(dict_data, index = ['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'])
df

          edad   cm pais genero    Q1  Q2
ana         10  115   co      M   5.0   7
benito       9  110   mx      F  10.0   9
camilo      13  130   co      F   8.0   9
daniel      14  155   mx      M   NaN   8
erika       12  125   mx      M   7.0   8
fabian      11  120   ch      M   8.0   8
gabriela    12  125   ch      F   3.0   9

In [20]:
df.index

Index(['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'], dtype='object')

In [21]:
df.columns

Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')

In [22]:
df.values

array([[10, 115, 'co', 'M', 5.0, 7],
       [9, 110, 'mx', 'F', 10.0, 9],
       [13, 130, 'co', 'F', 8.0, 9],
       [14, 155, 'mx', 'M', nan, 8],
       [12, 125, 'mx', 'M', 7.0, 8],
       [11, 120, 'ch', 'M', 8.0, 8],
       [12, 125, 'ch', 'F', 3.0, 9]], dtype=object)

In [23]:
df['edad']

ana         10
benito       9
camilo      13
daniel      14
erika       12
fabian      11
gabriela    12
Name: edad, dtype: int64

In [24]:
df[['edad', 'cm', 'Q1']]

          edad   cm    Q1
ana         10  115   5.0
benito       9  110  10.0
camilo      13  130   8.0
daniel      14  155   NaN
erika       12  125   7.0
fabian      11  120   8.0
gabriela    12  125   3.0

In [25]:
df.loc['ana', '']

edad       10
cm        115
pais       co
genero      M
Q1        5.0
Q2          7
Name: ana, dtype: object

In [26]:
df.loc['ana', ['edad', 'cm', 'Q1']]

edad     10
cm      115
Q1      5.0
Name: ana, dtype: object

In [28]:
df.loc[['ana', 'erika', 'gabriela'], ['edad', 'cm', 'Q1']]

          edad   cm   Q1
ana         10  115  5.0
erika       12  125  7.0
gabriela    12  125  3.0

In [34]:
col_name = 'Q1'
print(df.loc[['daniel'], [col_name]])
type(df.loc[['daniel'], [col_name]])

        Q1
daniel NaN

pandas.core.frame.DataFrame

In [41]:
print(type(df.loc['daniel','Q1']))
print(df.loc['daniel','Q1'])

<class 'numpy.float64'>
nan

In [43]:
print(df.iloc[2, 1])
print(type(df.iloc[2, 1]))

130
<class 'numpy.int64'>

In [44]:
df.iloc[2, [1, 3]]

cm        130
genero      F
Name: camilo, dtype: object

In [45]:
df.iloc[[2, 4, 5], [1, 3]]

         cm genero
camilo  130      F
erika   125      M
fabian  120      M

In [46]:
df.iloc[:, [1, 3]]

           cm genero
ana       115      M
benito    110      F
camilo    130      F
daniel    155      M
erika     125      M
fabian    120      M
gabriela  125      F

In [48]:
df['edad'] >= 12

ana         False
benito      False
camilo       True
daniel       True
erika        True
fabian      False
gabriela     True
Name: edad, dtype: bool

In [51]:
df[(df['edad']>=12) & (df['pais'] == 'mx')]

        edad   cm pais genero   Q1  Q2
daniel    14  155   mx      M  NaN   8
erika     12  125   mx      M  7.0   8

In [52]:
df.query('edad > 12')

        edad   cm pais genero   Q1  Q2
camilo    13  130   co      F  8.0   9
daniel    14  155   mx      M  NaN   8

In [54]:
df[df['Q2']>=df['Q1']]

          edad   cm pais genero   Q1  Q2
ana         10  115   co      M  5.0   7
camilo      13  130   co      F  8.0   9
erika       12  125   mx      M  7.0   8
fabian      11  120   ch      M  8.0   8
gabriela    12  125   ch      F  3.0   9