<a href="https://colab.research.google.com/github/christiancamposn/Manipulacion-y-Analisis-de-Datos-con-Pandas-y-Python-/blob/main/05_Indexado_y_manejo_de_archivos_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
%cd '/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
 01_DataFrame_Basics.ipynb
 02_Exercise_DataFrame_Basic_Operations.ipynb
 02_spark_maps_and_lazy_evaluation.ipynb
 03_data_inputs_and_outputs.ipynb
 04_data_wrangling.ipynb
'04 - De paneles de datos al DataFrame.ipynb'
'04-De paneles de datos al DataFrame.ipynb'
'05 - Indexado y manejo de archivos CSV.ipynb'
 DataAcademy001.ipynb
 introduccion_colab.ipynb
 introduccion_colab_live.ipynb

In [5]:
'Hola Mundo'

'Hola Mundo'

In [6]:
'Hola {}'.format('Mundo')

'Hola Mundo'

In [7]:
'Hola {}'.format('blablabla')

'Hola blablabla'

In [11]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/db

In [14]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.xls')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.xls'

In [16]:
import pandas as pd
pd.__version__
import numpy as np

In [19]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}

In [20]:
df = pd.DataFrame(dict_data)

In [21]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [26]:
#df.to_csv(dir_pandas)
df.to_csv(dir_pandas, index= False)

In [27]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db/
!cat /content/drive/My\ Drive/Colab\ Notebooks/db/test.csv

test.csv
edad,cm,pais,genero,Q1,Q2
10,115,co,M,5.0,7
9,110,mx,F,10.0,9
13,130,co,F,8.0,9
14,155,mx,M,,8
12,125,mx,M,7.0,8
11,120,ch,M,8.0,8
12,125,ch,F,3.0,9

In [30]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [31]:
df.to_csv(dir_pandas, sep='|', index=False)

In [32]:
!cat /content/drive/My\ Drive/Colab\ Notebooks/db/test.csv

edad|cm|pais|genero|Q1|Q2
10|115|co|M|5.0|7
9|110|mx|F|10.0|9
13|130|co|F|8.0|9
14|155|mx|M||8
12|125|mx|M|7.0|8
11|120|ch|M|8.0|8
12|125|ch|F|3.0|9

In [34]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv', sep="|")
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9