<a href="https://colab.research.google.com/github/christiancamposn/Manipulacion-y-Analisis-de-Datos-con-Pandas-y-Python-/blob/main/07_Ventajas_y_desventajas_de_los_formatos_de_importar_y_guardado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
%cd '/content/drive/My Drive/Colab Notebooks'
!ls

/content/drive/My Drive/Colab Notebooks
'04 - De paneles de datos al DataFrame.ipynb'
'05 - Indexado y manejo de archivos CSV.ipynb'
'06 - Ventajas y desventajas de los formatos de importar y guardado.ipynb'
'Axity - Curso de introducción a Spark'
 db
 Otros

In [15]:
'Hola Mundo'

'Hola Mundo'

In [16]:
'Hola {}'.format('Mundo')

'Hola Mundo'

In [17]:
'Hola {}'.format('blablabla')

'Hola blablabla'

In [18]:
!mkdir /content/drive/My\ Drive/Colab\ Notebooks/db

mkdir: cannot create directory ‘/content/drive/My Drive/Colab Notebooks/db’: File exists

In [19]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.xls')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.xls'

In [20]:
import pandas as pd
pd.__version__
import numpy as np

In [21]:
dict_data = {
    'edad': [10,9,13,14,12,11,12],
    'cm': [115,110,130,155,125,120,125],
    'pais':['co','mx','co','mx','mx','ch','ch'],
    'genero':['M','F','F','M','M','M','F'],
    'Q1':[5,10,8,np.nan,7,8,3],
    'Q2':[7,9,9,8,8,8,9]
}

In [22]:
df = pd.DataFrame(dict_data)

In [23]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [24]:
#df.to_csv(dir_pandas)
df.to_csv(dir_pandas, index= False)

In [25]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db/
!cat /content/drive/My\ Drive/Colab\ Notebooks/db/test.csv

test.csv
edad,cm,pais,genero,Q1,Q2
10,115,co,M,5.0,7
9,110,mx,F,10.0,9
13,130,co,F,8.0,9
14,155,mx,M,,8
12,125,mx,M,7.0,8
11,120,ch,M,8.0,8
12,125,ch,F,3.0,9

In [26]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv')
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [27]:
df.to_csv(dir_pandas, sep='|', index=False)

In [28]:
!cat /content/drive/My\ Drive/Colab\ Notebooks/db/test.csv

edad|cm|pais|genero|Q1|Q2
10|115|co|M|5.0|7
9|110|mx|F|10.0|9
13|130|co|F|8.0|9
14|155|mx|M||8
12|125|mx|M|7.0|8
11|120|ch|M|8.0|8
12|125|ch|F|3.0|9

In [29]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv', sep="|")
df_read

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [58]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.xlsx')
#dir_pandas.format('test.xlsx')
df.to_excel(dir_pandas.format('test.xlsx'), index = False, sheet_name="Hoja_uno")

In [59]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.json')
df.to_json(dir_pandas.format('test.json'))

In [60]:
pd.read_json(dir_pandas.format('test.json'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [61]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.pkl')
df.to_pickle(dir_pandas.format('test.pkl'))

In [62]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [63]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.parquet')
df.to_parquet(dir_pandas.format('test.parquet'))

In [66]:
pd.read_parquet(dir_pandas.format('test.parquet'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [69]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.hdf')
df.to_hdf(dir_pandas.format('test.hdf'), key = 'data', format = 'table')

In [70]:
pd.read_hdf(dir_pandas.format('test.hdf'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9